
/*
styling the main div with some padding margin aand color
*/
#maindiv{
    background-color: azure;
    width: 500px;
    height: 300px;
    border: 2px solid orange;
    padding: 10px;
    margin: 10% 31% 10%;
}
/*
styling the result session
*/
h4,h5{
    color: brown;
}

#var{
    color: blue;
    font-family: monospace;
    font-size: 30px;
}